.idea/
.vscode/
.DS_Store

node_modules/
build/
dist/
tmp/
temp/

database/*
!database/.gitkeep 

log/*
!log/.gitkeep 
*.log

# keep config folder with env files ONLY for demo purposes
# config/
# .env